.cssBox {
  border-left: 1px solid #feffe6;
  border-right: 1px solid #feffe6;
}

.iframeWindow {
  //justify-content: center;
  //align-items: center;
}

.iframeWindow iframe {
  background-color: #282A36;
}