@use 'src/assets/styles/responsive';

.livePreviewEditor{
  display:flex;
  flex-direction:column;
  @include responsive.responsive-grid('CodeView') {
    flex-direction:row;
  }
  width: 100%;
  max-width: 1496px;
  height: 781px;
  overflow: hidden;
  margin:0 auto;
  border-radius:0.75em ;
}
.iframeWindow {
  @include responsive.responsive-grid('CodeView') {
    width: 50%;
    height: 100%;
  }
  flex-grow: 1;
  height: 450px;
}


.codeSpace{
  flex-grow: 1;
  @include responsive.responsive-grid('CodeView') {
    width: 50%;
    height: 100%;
  }
  height: 568px;
  overflow: hidden;
}
.innerRenderSpace{
  width: 100vh;
  background-color: #E8E8E8;
}