@use 'src/assets/styles/responsive';

.livePreviewEditor{
  display:flex;
  flex-direction:column;
  width: 100%;
  height: 100%;
}

.codeEditors{
  display: flex;
  height: 240px;
  width: 100%;
  border: 2px solid #ffffff;
  overflow: hidden;
  @include responsive.responsive-grid('phone') {
      display: none;
  }
  .htmlBox{
    //flex-grow: 1;
  }
  .cssBox {
    //flex-grow: 1;
    border-left: 1px solid #feffe6;
    border-right: 1px solid #feffe6;
  }
  .jsBox{
    //flex-grow: 1;
  }
}





.iframeWindow {
  width: 50%;
  height: 300px;
  @include responsive.responsive-grid('phone') {
    width: 90%;
    height: 33vh;
  }
  @include responsive.responsive-grid('pad') {
    width: 90%;
    height: 33vh;

  }
}



.innerRenderSpace{
  width: 100vh;
  background-color: #E8E8E8;
}